{% extends "base.html" %}

{% load static %}

{% block content %}
<body class="">

<div class="px-40 flex flex-1 justify-center py-5 bg-[url(/static/fondoindex.jpg)] bg-repeat bg-top">
  
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">

            <div class="w-full mx-auto rounded-lg bg-gray-100 shadow-lg p-10 text-gray-800 relative overflow-hidden  min-w-80 max-w-4xl" x-data="app()" x-init="generatePassword()">
              <!-- Título de bienvenida según tipo de usuario -->
            <div class="mb-8">
              <h1 class="text-3xl font-bold text-center">
                {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                    ¡Bienvenido Administrador!
                  {% else %}
                    ¡Bienvenido Trabajador!
                  {% endif %}
                {% else %}
                  ¡Bienvenido Usuario!
                {% endif %}
              </h1>
            </div>
      <form method="GET" action="{% url 'tasks' %}">
        <div class="relative mt-1">
            <input name="q" value="{{ request.GET.q|default:'' }}" type="text" id="password" class="w-full pl-3 pr-10 py-2 border-2 border-gray-200 rounded-xl hover:border-gray-300 focus:outline-none focus:border-blue-500 transition-colors" placeholder="Buscar título, autor, cota, coautor, nro registro o fecha" >
            <button type="submit" class="block w-7 h-7 text-center text-xl leading-0 absolute top-2 right-2 text-gray-400 focus:outline-none hover:text-gray-900 transition-colors"><i class="mdi mdi-magnify"></i><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg></button>
        </div>
        <div class="absolute top-0 left-0 w-full h-2 flex">
            <div class="h-2 bg-[#8ae4ff] flex-1"></div>
            <div class="h-2 bg-[#9BBBFC] flex-1"></div>
            <div class="h-2 bg-[#F9CE69] flex-1"></div>
        </div>
        </form>
    </div>



            <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
              <div class="flex items-stretch p-4 gap-3">
                <div class="flex h-full flex-1 flex-col gap-1 rounded-lg min-w-60">
                  <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col">
                    <img src="{% static 'fondobody.jpg' %}" class="size-80 object-cover rounded-lg" alt="">
                    </div>
                  <div class="flex flex-wrap items-center justify-center gap-2 @[480px]:flex-row @[480px]:justify-around bg-[#8ae4ff] rounded-lg p-4">
                    <p class="text-[#000000] text-base font-medium leading-normal">¡Consigue Libros de Medicina!</p>
                    <p class="text-[#000000] text-sm font-normal leading-normal">Explora los avances de la medicina en Venezuela. Los libros en una biblioteca son el corazón del conocimiento y la imaginación, ofreciendo un acceso ilimitado a saberes, historias y descubrimientos que enriquecen vidas. Son herramientas esenciales para la educación, el desarrollo cultural y la innovación, conectando a las personas con su pasado y abriendo puertas hacia el futuro.</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-1 rounded-lg min-w-60">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col">
                    <img src="{% static 'imagen2.jpg' %}" class="size-80 object-cover rounded-lg" alt="">
                </div>
                  <div class="flex flex-wrap items-center justify-center gap-2 @[480px]:flex-row @[480px]:justify-around bg-[#9bbbfc] rounded-lg p-4">
                    <p class="text-[#000000] text-base font-medium leading-normal">¡Revistas Actuales!</p>
                    <p class="text-[#000000] text-sm font-normal leading-normal">Las revistas médicas son fundamentales para el avance de la ciencia y la salud, ya que difunden investigaciones actualizadas, descubrimientos y mejores prácticas que impactan directamente en el bienestar de la sociedad. Son una fuente confiable de información para profesionales de la salud, investigadores y estudiantes, fomentando la innovación médica y la toma de decisiones basadas en evidencia.</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-1 rounded-lg min-w-60">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col">
                    <img src="{% static 'fondopagina.jpg' %}" class="size-80 object-cover rounded-lg" alt="">
                </div>
                  <div class="flex flex-wrap items-center justify-center gap-2 @[480px]:flex-row @[480px]:justify-around bg-[#f9ce69] rounded-lg p-4">
                    <p class="text-[#000000] text-base font-medium leading-normal">Tesis Medicas</p>
                    <p class="text-[#000000] text-sm font-normal leading-normal">Las tesis nacionales representan un valioso recurso académico que recoge el esfuerzo, la dedicación y el conocimiento generado por profesionales y estudiantes en salud. Estas investigaciones reflejan la realidad, los desafíos y las particularidades de nuestro país, aportando soluciones y avances científicos específicos para mejorar la atención médica y las políticas de salud en Venezuela.</p>
                  </div>
                </div>
              </div>
            </div>
           <!-- <h2 class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Acceso Rápido</h2>
            <div class="flex justify-stretch">
              <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-between">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#4741a6] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Sobre Nosotros</span>
                </button>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#4741a6] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Visítenos</span>
                </button>
              </div>
            </div>
            <div class="flex justify-stretch">
              <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-between">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#4741a6] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Miembros</span>
                </button>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#4741a6] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Colecciones</span>
                </button>
              </div>
            </div>
            <div class="flex justify-stretch">
              <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-between">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#4741a6] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Servicios</span>
                </button>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#4741a6] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Contáctenos</span>
                </button>
              </div>
            </div>
          </div>
        </div>-->
        <footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer class="flex flex-col gap-6 px-5 py-3 text-center @container">
              <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
               <!-- <a class="text-[#637c88] text-base font-normal leading-normal min-w-40" href="#">Contáctenos</a>
                <a class="text-[#637c88] text-base font-normal leading-normal min-w-40" href="#">Política de Privacidad</a>
                <a class="text-[#637c88] text-base font-normal leading-normal min-w-40" href="#">Términos y condiciones</a>
                <a class="text-[#637c88] text-base font-normal leading-normal min-w-40" href="#">Mapa</a>-->
              </div>
              <div class="flex flex-wrap justify-center gap-4">
                <a href="https://x.com/acamedve1?lang=es">
                  <div class="text-[#637c88]" data-icon="TwitterLogo" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="24px" width="24px" viewBox="0.254 0.25 500 451.95400000000006"><path d="M394.033.25h76.67L303.202 191.693l197.052 260.511h-154.29L225.118 294.205 86.844 452.204H10.127l179.16-204.77L.254.25H158.46l109.234 144.417zm-26.908 406.063h42.483L135.377 43.73h-45.59z" fill="#000"/></svg>
                  </div>
                </a>
                <a href="https://www.facebook.com/correspondiente16/?locale=es_LA">
                  <div class="text-black" data-icon="FacebookLogo" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm8,191.63V152h24a8,8,0,0,0,0-16H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,0-16H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0,0,16h24v63.63a88,88,0,1,1,16,0Z"
                      ></path>
                    </svg>
                  </div>
                </a>
              </div>
              <p class="text-black text-base font-normal leading-normal">🄯 2025 Academia Nacional de Medicina.</p>
            </footer>
          </div>
        </footer>
      </div>
    </div>
  </body>
  {% endblock %}



